{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>MyBlog New Generic</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  {% if description%}
  <meta name="description" content="{{ description }}"/>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static '/js/reload_left_bar.js' %}"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  {% block javascript %}{% endblock %}


</head>

<body>
<div class="container">
  {# include 'includes/head-navblock.html' #}
</div>
<div class="nav-plase">
    <div class="container">
      {% include 'includes/navblock.html' %}
    </div>
</div>
<div class="content-plase">
  <div class="container content-plase">
      <div class="row no-gutters">
        <div class="col-xl-3">
          {% include 'includes/left-block.html' %}
        </div>
      <div class="col-xl-1">
      </div>
      <div class="col-xl-8">

            {% block content %}
            {% endblock %}

            {% block content2 %}
            {% endblock %}

      </div>
  </div>
</div>
<div class="nav-plase">
  <div class="container">
    {% include 'includes/footerblock.html' %}
  </div>
</div>

  <script src="{% static '/js/reload_comment_flags.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
