{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">


        <div class="col-xl-12 text-center">
            <h1>{{ title_name }}</h1>
        </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
				<p>Предложения и пожелания направляйте на почту: info@p-board.ru</p>
				<br>
				<p style="text-align: center">@master Москва 2020</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
