{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}


<div class="row">
      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
            <strong>Поиск блога по названию</strong>
            {#-------------------------------------#}

                 <form method="post">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <input type="submit" value="Найти блог">
                 </form>

            {#-------------------------------------#}
            </div>


        </div>
        <div class="content-block">
            <div class="content-small-block">
                {% if user.is_authenticated %}
                    {% if blogs %}
                        <div class="col-xl-12 text-center">
                            <h4>Мои истории</h4>
                        </div>
                        <ol>
                        {% for blog in blogs %}
                            <a style="text-decoration: none;" href="{% url 'blog_app:blog_detail' blog.pk  %}">
                                <div class="center-link">
                                     <li>


                                    <strong>{{ blog.name }}</strong><br>
                                         <span style="font-size: 11pt">Описание: {{ blog.text  }}</span>




                                    </li>
                                </div>
                            </a>
                        {% endfor %}
                        </ol>
                        <p> <a href="{% url 'blog_app:blog_create' %}">Создать новый блог</a></p>
                    {% else %}
                    <p> Вы пока не создали ни одного блога<br>
                        <a href="{% url 'blog_app:blog_create' %}">Создать мой первый блог</a>
                    </p>

                    {% endif %}

                {% else %}
                    <p> Для создания блога, пожалуйста
                        <a href="{% url 'login' %}?next={{request.path}}"><b>войдите</b></a>
                        или <a href="{% url 'register' %}"><b>зарегистрируйтесь</b></a>

                    </p>
                {% endif %}

            </div>
        </div>
        
        {% if open_blogs %}
        <div class="content-block">

            <div class="content-small-block">
                <div class="col-xl-12 text-center">
                    <h4>Блоги пользователей</h4>
                </div>
                <table style="width: 100%; valign: top">
					<tbody>
					<tr>
						<th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Название</th>
						<th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Автор</th>
                        <th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Тема</th>
					</tr>

                    {% for open_blog in page_obj %}
					<tr>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							<a href="{% url 'blog_app:blog_detail' open_blog.pk  %}">{{ open_blog.name }}</a>
						</td>
						<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							<a href="{% url 'blog_app:by_owner' open_blog.owner.pk  %}"> {{ open_blog.owner }}</a>
						</td>
                        <td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
                            <a href="{% url 'blog_app:by_tematics' open_blog.group_kn.pk  %}">{{ open_blog.group_kn }}</a>
						</td>
					</tr>

                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <div class="pagination">
						<span class="step-links">
							{% if page_obj.has_previous %}
								<a href="?page=1">&laquo; Первая</a>
								<a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
							{% endif %}

							<span class="current">
								Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
							</span>

							{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}">Следующая</a>
								<a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
							{% endif %}
						</span>
					</div>


            </div>

        </div>
        {% endif %}




  </div>

</div>
{% endblock %}
