{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">

      <div class="col-xl-12 text-center">
        <h1>Успешно!</h1>
      </div>
    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">

				<p>Ваше письмо отправлено!<br>
					Ожидайте ответ на адрес электронной почты указанной при регистрации.<br>
					Спасибо!
				</p>
			</div>
		</div>
   </div>
</div>

{% endblock %}
