{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">

        <div class="col-xl-12 text-center">
            <h1>{{ title_name }}</h1>
        </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
                <p>В Вашем сообщении <b><i>username</i></b> и <b><i>email</i></b> будет прикреплено автоматически.<br>
                    Ожидайте ответ на адрес электронной почты указанной при регистрации.<br>
                    Спасибо!
                </p>
                <form method="post">
                       {% csrf_token %}
                       {{ send_form.as_p }}
                       <input type="submit" value="Отправить">
                 </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
