{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}


<div class="row">

</div>

<div class="row">

      <div class="col-xl-12 text-center">
        <h1>{{ title_name }}</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
                <p>Сайт - пример работы, демонстрация навыков программирования Кумпякова Евгения</p>
				<p>При создании сайта использовались технологии:
				<ul>
					<li>Python3 Django;</li>
					<li>Bootstrap4;</li>
					<li>JavaScript (JQuery);</li>
					<li>Html, css;</li>
				</ul>
				</p>
                <h3 style="text-align: center;">Этапы работ</h3>
                <p>Визуальная часть (фронтэнд):
                <ul>
					<li>Предварительный макет;</li>
					<li>Верстка;</li>
					<li>Адаптация под настольную и мобильную версию;</li>
				</ul>
                </p>
                <p>Серверная часть (бэкэнд):
                <ul>
					<li>Предварительное прототипирование;</li>
					<li>Сборка, релиз проекта;</li>
					<li>Развертывание на сервере;</li>
				</ul>
                </p>
				<p>Сайт носит исключительно демонстрационный характер.</p>

				<p>Предложения и пожелания направляйте на почту: info@p-board.ru</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
