:root {
  /*--main-bg-color: #474e59;
  --main-nav-color: #cacaca;*/
  --main-bg-color: #fff;     /*цвет фона хедера и футера*/
  --main-nav-color: #000;    /*цвет букв*/
  --main-content-place-back-color: #e2e4e8;
  --main-content-font-color: #4b4f54;
}

* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: var(--main-content-font-color);
}
.container{color: var(--main-content-font-color);}
.content-plase{min-height: 730px;}

.header{
    min-height: 60px;
    /*outline: 1px solid #212121;*/
    display: table;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.nav-plase{
    /*background-color: var(--main-bg-color);*/
    border-bottom: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    background-image: url(../images/laptop.jpg);
    font-size: 15pt;
    height: 100px;
}
.navbar-home{color:var(--main-nav-color);}
.navbar-link{color:var(--main-nav-color);}
.content-plase{
    color:var(--main-content-place-back-color);
     margin-top: 10px;
}

.logo{
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  float: left;
}
.logo img{
  width: 50px;
}
.logo a:hover {
  text-decoration: none;
}
.contact{
  float: right;
  /*margin-right:  17%;*/
  width: 200px;
  outline: 1px solid #212121;
  margin-top: 13px;
}
.navbar{
    margin-top: 20px;
    /*border: 1px solid;*/
    /*background-color: var(--main-bg-color);*/
    /*box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);*/
}

.content{
  /*box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);*/
}

.widget-title {
    border-bottom: 2px solid #e1e1e1;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.widget-title h2 {font-size: 16pt;}

.navi{
    /*outline: 1px solid #212121;*/
    /*box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);*/

}
.text-center{color:var(--main-content-font-color);}
.head-nav{
    /*outline: 1px solid #212121;*/
    min-height: 60px;
    /*background-color: #cda557;*/
    background-color: #ced8db;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #212529;
    width: 100%;
    display: table;   
}
.head-nav-title{
  padding-top: 18px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /*margin-bottom: 60px;  Margin bottom by footer height */
}
.body-post{
    padding-top:  20px;
    padding-bottom: 20px;
}
.btn-post_detail{
    width: 100%;
    margin-top: 20px;
    background-color: #ced8db;
    /*background-color: #cda557;*/
}
.btn-post_detail:hover {
    background-color: #caa500;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #ced8db;
    /*background-color: #cda557;*/
}
.container-footer{
  /*padding-left: 60px;*/
}
.card{
  float: left;
}
#id_key_charact {
    list-style-type: none;
}
#id_level_sendler{
    list-style-type: none;
}

.button-next a {
    /*box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);*/
    height: 30px;
    display: flex;
    width: 120px;
    border-radius: 2px;
    border: 1px solid #949494;
    /*margin: 0 auto;*/
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #c2c2c2, #e3e3e3);
    color: #212529;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
    /*margin-top: 20px;*/
}
.button-next a:hover {
    background: linear-gradient(to top,  #e3e3e3, #f0f0f0);
}
.button-more a{
    height: 30px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #949494;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #c2c2c2, #e3e3e3);
    color: #212529;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    text-decoration: none;
}
.button-more{
    width: 90px;
    float: right;
    margin-left: 5px;
}
.button-comment{
    width: 20%;
    float: left;
    margin-left: 5px;
}
.center-link{
    border: 1px solid #c6c6c6;
    padding-left: 25px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #4b4f54;
    margin-bottom: 5px;
}

.button-category{
    height: 45px;
    display: flex;
    width: 90%;
    border-radius: 2px;
    border: 1px solid #949494;
    margin: 0 auto;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #b8d3db, #e3f5fa);
    color: #212529;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
}
.button-category:hover {
    text-decoration: none;
    color: #212529;
    background: linear-gradient(to top,  #95b5bf, #c9e7f0);
}
.button-category-active {
    /*background: linear-gradient(to top,  #8c8b8c, #c2c2c2);*/
    background: #95b5bf;
}
.base_content{
    /*border: 1px solid #d5d5d5;*/
    border-radius: 4px;
    min-height: 780px;
}
.left-nav-block{
    /*border: 1px solid #d5d5d5;
    border-radius: 4px;
    background-color: #f5f5f5;*/
    /*background-color: #ced8db;*/
    position: relative;

    font-size: 1rem;
    line-height: 24px;
    color: var(--main-content-font-color);
    width: 100%;
    display: table;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.left-nav-block ul{
    margin-bottom: 0;
    list-style-type: none;
}
.left-nav-block ul li a{
    color: var(--main-content-font-color);
}

.left-nav-block ul{
    margin-bottom: 0;
    list-style-type: disclosure-closed;;
}
.left-nav-block-element{
    height: 40px;
    display: flex;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #949494;
    margin: 0 auto;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #b8d3db, #e3f5fa);
    color: #212529;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 5px;
}
.left-nav-block-element a {
    text-decoration: none;
}
.reload-pers-menu{
    padding: 10px;
    width: max-content;
}
.content-block{
    /*border: 1px solid #d5d5d5;*/
    border-radius: 4px;
    /*background-color: #f5f5f5;*/
    font-size: 12pt;
    line-height: 24px;
    color: #4b4f54;
    width: 100%;
    /*display: table;*/
    margin-bottom: 15px;
    padding: 5px 18px;
}
.entry-image{display: flex;}
.entry-thumb-image{float: left;margin-right: 10px;}
.entry-description{
    display: block;
    margin-left: 110px;
    border-bottom: 1px solid;
    padding-bottom: 6px;}

.answer-block{
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 5px 10px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    float: right;
    position: relative;
    background-color: #f5f5f5;
}
.item-comment{
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 5px 10px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    position: relative;
    background-color: #ededed;
}
.item-comment div p, .answer-block p{
    margin-bottom: 0px;
}

.item-entry{
    /*border: 1px solid #d5d5d5;
    background-color: #f5f5f5;*/
    display:  flow-root;
    position: relative;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4b4f54;
}
.entry-block{
    position: relative;
}
.small-entry-thumb-image{border-radius: 3px;}
.edit-block{
    position:absolute;
    right:0;
    bottom:0;
    display: block;
    width: 78px;
    opacity:0;
    transition: 1s;
}
.entry-block:hover .edit-block{
    opacity:1;
    transition: 1s;
}
.add-block{display:  flow-root;position: relative;height: 35px;}
.edit-block-add{
    position:absolute;
    right:0;
    bottom:0;
    display: block;
    width: 35px;
    opacity:110;
}
.povorot45 {
    /*border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;*/
    width: 20px;
    height: 20px;
    display: inline-flex;
    position: absolute;
    left: -11px;
    top: 10px;

    -moz-transform: rotate(45deg);  /* Firefox */
    -o-transform: rotate(45deg);  /* Opera */
    -webkit-transform: rotate(45deg);  /* Safari y Chrome */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
}
.povorot-45 {
    /*border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;*/
    width: 20px;
    height: 20px;
    display: inline-flex;;
    position: absolute;
    right: -11px;
    top: 10px;

   -moz-transform: rotate(-45deg);  /* Firefox */
  -o-transform: rotate(-45deg);  /* Opera */
  -webkit-transform: rotate(-45deg);  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476); /* IE */}
}

#id_area {
    height: 35px;
    width: 30%;
}
#id_group_kn {
    margin-left: 4%;
}
#id_group_kn {
    height: 35px;
    width: 30%;
}
.comment-text-block td, .comment-text-block td textarea{
    width: 100%;
    height: 100px;
}
.comment-small-block{
    font-size: 14px;
    margin-bottom: 15px;
}
.comment-text-area{
    background-color: #fff;
}


.is-comment{
    width: 40px;
    height: 40px;
    display: inline-flex;
    position: absolute;
    left: 210px;
    top: -4px;
}
.right-flag{
    display: none;
}
.is-comment2{
    width: 40px;
    height: 40px;
    display: inline-flex;
    position: absolute;
    left: 110px;
    top: -10px;
}

.button_find_blog{
    height: 35px;
    display: inline-flex;
    width: 10%;
    border-radius: 4px;
    border: 1px solid #949494;
    margin: 0 auto;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #b8d3db, #e3f5fa);
    color: #212529;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
    float: right;
}
.button_find_auto:hover {
    text-decoration: none;
}
.content-small-block{
    color: var(--main-content-font-color);
    margin-bottom: 5px;
}
.content-small-block p a, .content-small-block table tbody tr td a{
    color: var(--main-content-font-color);
}
.content-small-block ul{
    padding-left: 20px;
}

.content-small-block ol li{
    margin-bottom: 15px;
    display: flow-root list-item;
}
.comment{
    float: right;
}
.entry-text{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.carousel-caption h2{
    color: red;
    font-weight: 700;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
                 #000 -1px 1px 0, #000 1px -1px 0;
    font-size: 40px;
}
#id_key_number{
    width: 89%;
}
.button-add-basket a{
    margin: 0 auto;
    width: 60px;
}
.slide-more-block{
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background-color: #fff;
    font-size: 1rem;
    line-height: 24px;
    color: #4b4f54;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.content-block-detail{
    padding-left: 15px;
    padding-right: 15px;
}
.box-price{
    background: #fff3c7;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-content{
    padding: 5px;
    background: #fff;
    min-height: 280px;
}
.tab-content ul{
    padding-left: 20px;
}
#id_text_data, #id_keydata, #id_name, #id_text{
    width: 100%;
}

@media (max-width:1200px) {
 .container {
  max-width:1170px
 }
 .group-nav-block {
    display: none;
}
.left-nav-block{
    display: none;
}

}


}
@media (max-width:992px) {
.left-nav-block{
    display: none;
}

.is-comment{
    width: 40px;
    height: 40px;
    display: inline-flex;
    position: absolute;
    left: 210px;
    top: -4px;
    z-index: 1000
}
.right-flag{
    display: block;
}
}
@media (max-width: 575.98px) {
.left-nav-block{
    display: none;
}
#id_mark{
    width: 100%;
}
#id_model{
    width: 100%;
}
#id_modyfy{
    width: 100%;
}
.button_find_auto{
    margin-top: 30px;
    width: 30%;
    margin-left: 70%;
}
#id_key_number {
    width: 100%;
}
.content-block{
    padding: 3px;
}
}