{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">

	   <div class="col-xl-12 text-center">
        <h1>Фильтр по теме: "{{ current_tematics.name }}"</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
				 <table style="width: 100%; valign: top">
					<tbody>
					<tr>
						<th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Название</th>
						<th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Автор</th>
                        <th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Тема</th>
					</tr>
					{% if blog_list %}
						{% for blog in blog_list %}
						<tr>
							<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
								<a href="{% url 'blog_app:blog_detail' blog.pk  %}">{{ blog.name }}</a>
							</td>
							<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
								<a href="{% url 'blog_app:by_owner' blog.owner.pk  %}"> {{ blog.owner }}</a>
							</td>
							<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
								 {{ blog.group_kn }}
							</td>
						</tr>
						{% endfor %}





					{% else %}
						<tr>
							<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
								Ничего не найдено
							</td>
							<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
								-
							</td>
							<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
								-
							</td>
						</tr>
					{% endif %}
                    </tbody>
                </table>
				<br>
				<div class="pagination">
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a href="?page=1">&laquo; Первая</a>
							<a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
						{% endif %}

						<span class="current">
							Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
						</span>

						{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}">Следующая</a>
							<a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
						{% endif %}
					</span>
				</div>

			</div>
		</div>



   </div>

  </div>


{% endblock %}
