{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">

	 <div class="col-xl-12 text-center">
        <h1>"{{ set_title }}"
			{% if current_user != current_blog.owner %}
			<small>автор: <i>{{ current_blog.owner }}</i></small>
			{% endif %}
		</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
				<table style="width: 100%; valign: top">
					<tbody>
					<tr>
						<th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Наименование</th>
						<th style="border-bottom: 2px solid #d5d5d5; padding-left: 10px;">Значение</th>
					</tr>
					<tr>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							Тематика блога<br>
						</td>
						<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							{{ current_blog.group_kn }}<br>
						</td>
					</tr>
					<tr>
						<td style="padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							Создан<br>
						</td>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							{{ current_blog.created }}<br>
						</td>
					</tr>
					{% if current_user == current_blog.owner %}
					<tr>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							Видимость<br>
						</td>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							<span
							{% if current_blog.visible == 'close' %}
								style="color: red; font-weight: bold;"
							{% else %}
								style="color: #58a8fd; font-weight: bold;"
							{% endif %}
							>
								{{ current_blog.get_visible_display }}
							</span>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							Краткое описание<br>
						</td>
						<td style=" padding-left: 10px; padding-right: 10px; vertical-align: top; display: table-cell;">
							{{ current_blog.text }}<br>
						</td>
					</tr>

					</tbody>
				</table>
				<br>
				{% if current_user == current_blog.owner %}
					<a href="{% url 'blog_app:blog_update' current_blog.pk %}">Изменить данные блога</a>
					<br>
					<a href="{% url 'blog_app:entry_create' current_blog.pk %}">Добавить сообщение</a>
					<br>
					<a style="color: red" href="{% url 'blog_app:blog_delete' current_blog.pk %}">Удалить блог</a>
				{% endif %}

            {#-------------------------------------#}

			<div>
				{% if current_entrys %}

					{% for entry in page_obj %}

						<a href="{% url 'blog_app:entry_detail' entry.pk  %}" style="text-decoration: none;">
							<div class="item-entry">

								<div class="entry-thumb-image">
									<img class="small-entry-thumb-image" src="{{ entry.entry_thumbnail.url }}" alt="Entry-{{ current_entry.pk }} image">
								</div>
								<div class="entry-description">
									{{ entry.created }}	<br>
									{{ entry }}
								</div>

								<div class="comment">
									Комментариев:
									{% for item in arr %}
										{% if entry.pk == item.pk %}
											{{ item.value }}
											{% if item.new_comments != 0 %}
												{% if context.owner %}
												<span style="color: red">(+{{ item.new_comments }})</span>
												{% endif %}
											{% endif %}

										{% endif %}
									{% endfor %}

								</div>
							</div>
						</a>
					{% endfor %}
					<div class="pagination">
						<span class="step-links">
							{% if page_obj.has_previous %}
								<a href="?page=1">&laquo; Первая</a>
								<a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
							{% endif %}

							<span class="current">
								Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
							</span>

							{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}">Следующая</a>
								<a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
							{% endif %}
						</span>
					</div>

				{% else %}
				<br>
				<b>Сообщений в этом блоге еще нет :(</b>
				{% endif %}
				<br>

			</div>

			{% if current_user == current_blog.owner %}
				<a href="{% url 'blog_app:entry_create' current_blog.pk %}">Добавить сообщение</a>
			{% endif %}
			{% if not user.is_authenticated %}
				<p>Комментировать могут только зарегистирированные пользователи</p>
				<a href="{% url 'login' %}?next={{request.path}}">Войдите</a><br>
				<a href="{% url 'register' %}">Или зарегистрируйтесь</a>
			{% endif %}

            {#-------------------------------------#}

        </div>



   </div>

  </div>

</div>

{% endblock %}
