{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">

      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">

            {#-------------------------------------#}
              <form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<table>
						{{ form.as_p }}
					</table>

					<input type="submit" value="Добавить">
				</form>
            {#-------------------------------------#}
            </div>
        </div>
   </div>

</div>
{% endblock %}
