{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="row">
      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
            <strong>Создать сообщение</strong>
            {#-------------------------------------#}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input type="submit" value="Сохранить">
            </form>
                
            {#-------------------------------------#}
            </div>
        </div>
   </div>
  </div>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("id_text") });
    </script>
{% endblock %}
