{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">
      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}</h1>
      </div>
        <div class="col-xl-12 base_content">
            <div class="content-block">
                <div class="content-small-block">
                {#-------------------------------------#}

                  <form method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_p }}
                        </table>

                        <input type="submit" value="Сохранить">
                    </form>

                {#-------------------------------------#}
                </div>
                <br>
                <p>
                    Если в списке отстутствует тема для создаваемого блога:<br>
                    1. Создайте блог<br>
                    2. Выберите тему: "Без темы"<br>
                    3. Напишите модератору с просьбой добавить новую тему. Укажите новую тему в письме.
                    <br>
                    <br>
                <a href="{% url 'mainapp:send_message' request.user.pk %}">Написать модератору</a>
                </p>
                <p>
                    <h3>Правила создания блога и сообщений блога</h3>
                    <ul>
                        <li>Блог и сообщения блога можно создавать на любые темы.</li>
                        <li>В блоге и сообщениях блога можно публиковать любые ссылки.</li>
                    </ul>
                </p>
                <p>
                <h3>Что запрещено в блогах и сообщениях блога</h3>
                <p>Запрещено загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом
                    использовать любую информацию, которая:</p>
                    <ul>
                        <li>содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую
                            репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;</li>
                        <li>нарушает права несовершеннолетних лиц;</li>
                        <li>является вульгарной или непристойной, содержит порнографические изображения и тексты или
                            сцены сексуального характера с участием несовершеннолетних;</li>
                        <li>содержит сцены бесчеловечного обращения с животными;</li>
                        <li>содержит описание средств и способов суицида, любое подстрекательство к его совершению;</li>
                        <li>пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти
                            или вражды, пропагандирует фашизм или идеологию расового превосходства;</li>
                        <li>содержит экстремистские материалы;</li>
                        <li>пропагандирует преступную деятельность или содержит советы, инструкции или руководства по
                            совершению преступных действий;</li>
                        <li>содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и
                            коммерческой тайной, информацией о частной жизни третьих лиц;</li>
                        <li>содержит рекламу или описывает привлекательность употребления наркотических веществ, в том
                            числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за
                            счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления
                            и советы по употреблению;</li>
                        <li>потенциально может привести к совершению противоправных действий путем введения Пользователей
                            в заблуждение или злоупотребления их доверием;</li>
                        <li>а также нарушает иные права и интересы граждан и юридических лиц или требования
                            законодательства Российской Федерации.</li>
                    </ul>
                <p>При несоблюдении указанных правил, Администрация сайта оставляет за собой право <b>удалять</b> материалы
                    пользователя <b>без предупреждения</b>, и <b>блокировать</b> пользователя сроком на 999..(9) лет.</p>
                </p>

            </div>



    </div>

  </div>
{% endblock %}
