{% extends "base_generic.html" %}

{% load bootstrap4 %}

{% block content %}
{% load static %}

<div class="row">

      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}</h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
					<h1 style="text-align: center">Успешно!</h1>
				<p>
					Сообщение добавлено!
				</p>
            {#-------------------------------------#}
            </div>


        </div>



   </div>

  </div>
{% endblock %}

