{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}

<div class="row">

      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}
            {% if current_user != current_entry.owner %}
			<small>автор: <i>{{ current_entry.owner }}</i></small>
			{% endif %}
        </h1>
      </div>

    <div class="col-xl-12 base_content">
        <div class="content-block">
            <div class="content-small-block">
				<strong>Сообщение от {{ current_entry.created }}:</strong>
                <p><small>Просмотров: {{ current_entry.count }}</small></p>
                <div class="entry-block">
                    {% if current_entry.img %}
                        <div class="entry-image">
                            <img src="{{ current_entry.img.url }}" alt="Entry-{{ current_entry.pk }} image">
                        </div>
                        <br>
                    {% endif %}

				    {# current_entry.text|linebreaks #}
                    {{ current_entry.get_text_as_markdown }}

                    {% if user.is_authenticated %}
                        {% if owner %}
                        <div class="edit-block">
                            <span><a href="{% url 'blog_app:entry_update' current_entry.pk %}">
                                <img class="img-fluid" src="{% static 'images/edit_button.png' %}" alt="Edit image">
                            </a></span>
                            <span><a href="{# url 'blog_app:block_update' current_entry.pk item_block.pk #}">
                                <img class="img-fluid" src="{% static 'images/delete_button.png' %}" alt="Edit image">
                            </a></span>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>

                {% if all_block %}
                    {% for item_block in all_block %}
                    <div class="entry-block">
                        <div class="entry-image">
                            <img src="{{ item_block.img.url }}" alt="BlockEntry-{{ item_block.pk }} image">
                        </div>
                        <br>
                        {{ item_block.text|linebreaks }}
                        {% if user.is_authenticated %}
                            {% if owner %}
                            <div class="edit-block">
                                <span><a href="{% url 'blog_app:block_update' current_entry.pk item_block.pk %}">
                                    <img class="img-fluid" src="{% static 'images/edit_button.png' %}" alt="Edit image">
                                </a></span>
                                <span><a href="{% url 'blog_app:block_delete' current_entry.pk item_block.pk %}">
                                    <img class="img-fluid" src="{% static 'images/delete_button.png' %}" alt="Edit image">
                                </a></span>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}

                {% if user.is_authenticated %}
                    {% if owner %}
                    <div class="add-block">
                        <div class="edit-block-add">
                            <a href="{% url 'blog_app:block_entry_create' current_entry.pk %}">
                                <img class="img-fluid" src="{% static 'images/add_button.png' %}" alt="Edit image">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <br>
                <br>
                <div class="comment-block" id="CommentBlock"
                     comment-block-url="{% url 'mainapp:ajax_reload_comment-block' current_entry.pk %}">

                </div>
                {% if user.is_authenticated %}

                <div class="border-text" style="height: 5px;width: 100%;"></div>

                    <div class="collapse multi-collapse" id="collapse">
                        {% if owner %}
                        <p>Ответ на комментарий: "<span id="messagess_b">empty</span>"</p>
                        {% endif %}
                        <b>{{ user.username }}:</b><br>
                        <div class="comment-text-block" id="CommentText">
                            {#-------------------------------------#}
                              <form method="post">
                                    {% csrf_token %}
                                    <table>
                                        {{ form.as_p }}
                                    </table>

                                    <input type="submit" value="Добавить">
                                </form>
                            {#-------------------------------------#}
                        </div>
                    </div>
                </div>
                {% endif %}
           </div>
        </div>
   </div>

  </div>

{% block js %}
    <script src="{% static '/js/reload_comment-block.js' %}"></script>
    <script src="{% static '/js/answer_block.js' %}"></script>
{% endblock %}
{% endblock %}
