{% extends "base_generic.html" %}

{% load bootstrap4 %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-10 text-center" > 
		<h2>Вход пользователя</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10" > 
      <p> 
        {% if user.is_authenticated %}
        <p>Вы уже выполнили вход</p>
        {% else %}
            <form method="post">
                <script src='https://www.google.com/recaptcha/api.js'></script>
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="form-group g-recaptcha" data-sitekey="6Le57cMUAAAAAFWdkVVBdItoTlfodGhSnl-29mzU"></div>

                <!--input type="hidden" name="next" value="{{ index }}"-->
                {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                {% endif %}
                {% buttons submit='Войти' %}{% endbuttons %}

            </form>
        {% endif %}

      </p>  
      </div>

    </div>
    
</div>


    

{% endblock %}
