{% load static %}
<div class="container-fluid header">
  <div class="logo">
    <a href="{% url 'index' %}"><img src="{% static "images/logo.png" %}" >My Blog</a>
  </div>
  <div class="right-flag">
    <div id="comment-res2" class="is-comment" style="display: none"><img src="{% static "images/comment.png" %}" ></div>
  </div>
  <!--div class="contact">
    Написать письмо
  </div-->
</div>

