<div class="left-nav-block">
    {% if user.is_staff %}
        <div class="widget-title"><h2>На сайте</h2></div>
        <span>Всего блогов: {{ blogs_count }}</span><br>
        <span>Пользователей: {{ users_count }}</span>
    {% endif %}
    <br>

    {% if user.is_authenticated %}
        {% if blogs %}
        <div class="widget-title"><h2>Мои записи</h2></div>
        <ul>
            {% for my_story in blogs %}
                <li><a href="{% url 'blog_app:blog_detail' my_story.pk  %}">{{ my_story.name }}</a>

                </li>
            {% endfor %}
        </ul>
        <br>
        {% endif %}
    {% endif %}

    <div class="widget-title"><h2>Темы блогов</h2></div>
    <ul>
        {% for know in all_know %}
            <li><a href="{% url 'blog_app:by_tematics' know.pk  %}">{{ know.name }}</a>

            </li>
        {% endfor %}
    </ul>
    <div class="widget-title"><h2>Последние записи</h2></div>

    {% if last_entrys %}
        <ul>
        {% for item in last_entrys %}
            <li><a href="{% url 'blog_app:entry_detail' item.pk %}">{{ item }}</a></li>
        {% endfor%}
        </ul>
    {% else %}
        Не найдено
    {% endif %}

    <div class="widget-title"><h2>Популярное</h2></div>
    {% if populated %}
        <ul>
        {% for item in populated %}
            <li><a href="{% url 'blog_app:entry_detail' item.pk %}">{{ item }}</a></li>
        {% endfor%}
        </ul>
    {% else %}
        Не найдено
    {% endif %}
</div>
