{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-home" href="{% url 'index' %}">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-link">Темы блогов</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for know in all_know %}
                  <a class="dropdown-item" href="{% url 'blog_app:by_tematics' know.pk  %}">{{ know.name }}</a>
                {% endfor %}

                {% if user.is_staff %}
                <!--a class="dropdown-item" href="">Добавить тему блога</a-->
                {% endif %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:site_info' %}"><span class="navbar-link">О сайте</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mainapp:contacts' %}"><span class="navbar-link">Контакты</span></a>

            </li>




            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-link">
                {% if user.is_authenticated %}
                Вы зашли как: {{ user.get_username }}
                {% else %}
                Профиль
                {% endif %}
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'profile' %}">Профиль пользователя</a>
                  <a class="dropdown-item" href="{% url 'profile_change' %}">Изменить личные данные</a>
                  <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                  <a class="dropdown-item" href="{% url 'profile_delete' %}">Удалить профиль</a>
                  <a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Выйти</a>
                  <a class="dropdown-item" href="{% url 'mainapp:send_message' request.user.pk %}">Написать модератору</a>

                  <!--div class="dropdown-divider"></div-->

                {% else %}
                  <a class="dropdown-item" href="{% url 'login' %}?next={{request.path}}">Войти</a>
                  <a class="dropdown-item" href="{% url 'register' %}">Регистрация</a>
                {% endif %}


              </div>
            </li>
            <li class="nav-item dropdown">
              {% if user.is_authenticated %}
              <div id="comment-res" class="is-comment2" style="display: none"><img src="{% static "images/comment.png" %}" ></div>

              <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-link">Мои блоги</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="reload-pers-menu" id="LeftBlock" data-left-url="{% url 'mainapp:ajax_reload_data_left_bar' %}">

                </div>

              </div>
              {% endif %}
            </li>
          </ul>

        </div>
      </div>
    </div>    
  </nav>

