{% load static %}

		<span>Ваших блогов: {{ context.users_blogs }}</span><br>

		{% for blog in context.blogs %}
			<a href="{% url 'blog_app:blog_detail' blog.pk  %}"
			{% for item in context.arr %}
				{% if blog.pk == item.pk %}
					{% if item.visible == 'close' %}
						style="color: #bdbcbc"
					{% endif %}
				{% endif %}
			{% endfor %}
			>{{ blog.name }}</a>

			{% for item in context.arr %}
				{% if blog.pk == item.pk %}
					({{ item.value }})
					{% if item.new_comments != 0 %}
						<span style="color: red">+{{ item.new_comments }}</span>
					{% endif %}
				{% endif %}
			{% endfor %}
			<br>
		{% endfor %}

{% if context.comment_flag %}
  <span id="comment-flag" style="display: none">ok</span>
{% else %}
  <span id="comment-flag" style="display: none">empty</span>
{% endif %}


