{% load static %}
{% if context.current_comments %}
<p><b>Комментарии: {{ context.current_comments_count }}</b></p>
	{% for comment in context.current_comments %}


				<div class="item-comment">
					<div class="povorot45"><img src="{% static "images/strelka4left.png" %}" ></div>

					<b>{{ comment.owner }}</b>: {{ comment.created }}
					{% if comment.new %}
						{% if context.show_new %}
					<span style="color: red">(новый)</span>
						{% endif %}
					{% endif %}
					<br>
					<div id="comment-text-{{ comment.pk }}">
						{{ comment.text|linebreaks }}
					</div>
				</div>

				{% for item in context.array %}
					{% if comment.pk == item.pk %}
						{% for item_answer in item.value %}
							<div class="answer-block">
									<div class="povorot-45"><img src="{% static "images/strelka4right.png" %}" ></div>
									<b>{{ item_answer.owner }}</b>: {{ item_answer.created }}<br>
										{{ item_answer.text|linebreaks }}
							</div>
						{% endfor %}
					{% endif %}
				{% endfor %}

				{% if context.owner %}
				<div class="button-more">
					<a class="" data-toggle="collapse" href="#collapse" onClick="Answer({{ comment.pk }});"
					   role="button" aria-expanded="false" aria-controls="collapse">
						Ответить
					</a>
				</div>
				{% endif %}

				<div style="clear: both; margin-bottom: 20px;"></div>
	{% endfor %}



{% else %}
	<div>Пока нет комментариев...</div>
{% endif %}

{% if user.is_authenticated %}
		{% if not context.owner %}
		<div class="button-more button-comment">
			<a class="" data-toggle="collapse" href="#collapse" onClick="Answer({{ comment.pk }});"
			   role="button" aria-expanded="false" aria-controls="collapse">
				Комментировать
			</a>
		</div>
		<div style="clear: both; margin-bottom: 20px;"></div>
		{% endif %}

	{% else %}
		<p>Комментировать могут только зарегистрированные пользователи</p>
	{% endif %}

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li class="{{ message.tags }}">
				{{ message|safe }}
				<a href="#" class="close">✖</a>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<p></p>
	{% endif %}

